<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboots.dao.IUserDao">

    <select id="findListUser" resultType="UserBean">
        select u_name as userName from sys_user;
   </select>

    <insert id="addUser" parameterType="UserBean">
        insert into sys_user(u_name,u_password)values (#{userName},#{password})
    </insert>

</mapper>